<h1>Address</h1>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      [(ngModel)]="model.firstName"
      name="firstName"
      required
    />
  </div>

  <div class="form-group">
    <label for="name">Surname</label>
    <input
      type="text"
      class="form-control"
      id="surname"
      [(ngModel)]="model.surname"
      name="surname"
      required
    />
  </div>

  <div class="form-group">
    <label for="street">Street</label>
    <input
      type="text"
      class="form-control"
      id="street"
      [(ngModel)]="model.street"
      name="street"
      required
    />
  </div>

  <div class="form-group">
    <label for="postalCode">Postal Code</label>
    <input
      type="text"
      class="form-control"
      id="postalCode"
      [(ngModel)]="model.postalCode"
      name="postalCode"
      required
    />
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
