<div class="container">
  <h1>Shopping Cart</h1>
  <ng-container *ngIf="items$ | async as items" class="container">
    <ng-container *ngIf="notEmpty(items); else empty">
      <div class="row">
        <div class="col-lg order-lg-2 summary subtotal">
          <h2>Subtotal</h2>
          <span class="sum">{{ sum$ | async | currency: 'EUR' }}</span>
        </div>
        <div class="col-lg order-lg-1 items">
          <h2>Items</h2>
          <app-item-summary
            [items]="items"
            isQuantityModifyable="true"
            (quantityChange)="changeAmount($event)"
          ></app-item-summary>
        </div>
      </div>
      <div class="row">
        <button
          (click)="goToCheckout()"
          class="btn btn-primary float-lg-right checkout"
        >
          Proceed to checkout
        </button>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #empty>
    <p id="empty">There don't seem to be any items in your cart.</p>
  </ng-template>
</div>
